*{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1B2631;
}
nav{
    background-color:#7F8C8D;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.on{
    background-color: #58D68D ;
}
.slider{
    -webkit-appearance: none;
    height: 15px;
    background-color: gray;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1B2631; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
body{
    margin: 0;
}
.active{
    background-color: black;
    color: white;
}
span{
    background-color: white;
}
.slidecontainer{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
button{
    width: 8rem;
    height: 2rem;
    border-radius: 10%;
    background-color: white;
    border: 1px solid black;
}
.data{
    height: 80vh;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1px;
    padding: 20px;
    transform: rotate(180deg) scaleX(-1);
}
.block{
    background-color: cyan;
}   