*{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color:#7F8C8D;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 10px 10px;
}
.on{
    background-color: #58D68D ;
}
.slider{
    -webkit-appearance: none;
    height: 15px;
    width: 80%;
    background-color: gray;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1B2631; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
body{
    margin: 0;
}
.active{
    background-color: black!important;
    color: white;
}
span{
    background-color: white;
}
.slideContainer{
    text-align: center;
    font-size: 1rem;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.randomButton{
    width: 10%;
}
.buttons button{
    width: 30%;
    height: 4rem;
    border-radius: 10%;
    background-color: white;
    border: 1px solid black;
}
.buttons button:hover{
    background-color: #7F8C8D;
}
.buttons{
    display: flex;
    gap: 5px;
    background-color: #7F8C8D;
}
.dropdown {
    position: relative;
    display: none;
    text-align: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    right: 0; /* Align the dropdown content to the right */
}
.dropdown-content button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.container{
    background-color: #1B2631;
    height: 90.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1px;
    transform: rotate(180deg) scaleX(-1);
}
.block{
    background-color: cyan;
}   

@media screen and (max-width: 700px){
    .buttons{
        display: none;
    }
    .dropdown {
        display: inline-block;
    }
    .slider{
        width: 80%;
    }
    .slideContainer{
        display: flex;
        font-size: 15px;
        gap: 10px;
        flex-direction: column;
    }
    .data{
        gap: 0px;
    }
}